@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #fbce12;
  border-radius: 15px;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  background-color: white;
  color: #2c2926;
  border-radius: 8px;
  padding: 12px;
}
.swiper-button-next,
.swiper-button-prev {
  margin: -10px 10px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}
.image-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(252, 252, 252, 0) 50%
  );
}
body {
  font-family: "Shockers", "sans-serif";
}

