@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0%;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Shockers-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "ShockersAR+KR";
  src: url("/fonts/Shockers-KurdiBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ShockersAR+KR";
  src: url("/fonts/Shockers-KurdiThin.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Shockers", "sans-serif";
  overflow-x: hidden;
}
:lang(ar) body {
  font-family: "ShockersAR+KR", "sans-serif";
}
:lang(kr) body {
  font-family: "ShockersAR+KR", "sans-serif";
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
.showScrollShocky::-webkit-scrollbar {
  display: block;
}
.showScrollYMarketing::-webkit-scrollbar {
  display: block;
}
.showScrollShocky::-webkit-scrollbar-thumb {
  background: #25325c;
  border-radius: 0px;
}
.showScrollYMarketing::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #fbce12;
  border-radius: 15px;
}
.deca .swiper-button-prev:after,
.deca .swiper-rtl .swiper-button-next:after,
.deca .swiper-button-next:after,
.deca .swiper-rtl .swiper-button-prev:after {
  color: #17b9b5;
  border-radius: 50%;
  font-weight: 900;
  padding: 12px;
}
.baytuna .swiper-button-prev:after,
.baytuna .swiper-rtl .swiper-button-next:after,
.baytuna .swiper-button-next:after,
.baytuna .swiper-rtl .swiper-button-prev:after {
  color: #c01f4a;
  font-weight: 900;
  padding: 12px;
}
.swiper-button-next,
.swiper-button-prev {
  margin: -10px 10px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}
.image-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(252, 252, 252, 0) 50%
  );
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(208, 206, 206, 1) 100%
  );
}
.bg-Hover-gradient:hover {
  background: #fdcf00;
}
.bg-Hover-gradient-shocky:hover {
  background: #d3dd25;
}
.bg-Hover-gradient-Deca:hover {
  background: #17b9b5;
}
.bg-Hover-gradient-Baytuna:hover {
  background: #93c5ac;
}
.bg-Hover-gradient-yard:hover {
  background: #b9d988;
}

.cancelEffect {
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (min-width: 1200px) and (max-width: 1300px) and (min-height: 550px) and (max-height: 700px) {
  .lg\:text-9xl,
  .xl\:text-9xl {
    font-size: 6rem !important;
  }
  .lg\:text-8xl,
  .xl\:text-8xl {
    font-size: 4.5rem !important;
  }
  .lg\:text-2xl,
  .xl\:text-2xl {
    font-size: 1.2rem !important;
  }
  .lg\:text-3xl,
  .xl\:text-3xl {
    font-size: 1.4rem !important;
  }
  .lg\:text-4xl,
  .xl\:text-4xl {
    font-size: 1.8rem !important;
  }
  .lg\:my-20 {
    margin: 10px 0px !important;
  }
}
@media (max-width: 667px) {
  .verySmall {
    font-size: 50px !important;
    line-height: 55px !important;
  }
}

.transition-timing-linear .swiper-wrapper {
  transition-timing-function: linear !important;
}
